Repository tetsuose/LingoView, changes with the labels that .github/labeler.yml gives for each.
All labels: area:web, area:backend, docs, ci, scripts, resources, dependencies

.github/labeler.yml:

area:web:
  - 'web/**'
area:backend:
  - 'python/**'
docs:
  - 'docs/**'
  - 'README.md'
ci:
  - '.github/**'
scripts:
  - 'scripts/**'
resources:
  - 'resources/**'
dependencies:
  - 'pnpm-lock.yaml'
  - 'python/pyproject.toml'
  - 'web/package.json'

chore: improve DX — bootstrap script, track *.env.example; add web/.env.example; cache pnpm/pip in CI
  .github/workflows/ci.yml
  .gitignore
  scripts/bootstrap.sh
  web/.env.example
Labels: area:web, ci, scripts

docs: add CI and CodeQL badges
  README.md
Labels: docs

docs: mention scripts/bootstrap.sh in Quick Start
  README.md
Labels: docs

docs: clarify PR policy — CI required, signed commits optional; CodeQL not blocking
  CONTRIBUTING.md
Labels: none

docs: add beginner-friendly Getting Started with macOS/Ubuntu steps
  README.md
Labels: docs

Refactor: Apple-style UI overhaul, layout fixes, and component extraction
  python/run_api.sh
  scripts/bootstrap.sh
  start.sh
  web/src/App.css
  web/src/App.tsx
  web/src/components/DictionaryPanel.tsx
  web/src/components/SubtitleList.tsx
  web/src/components/UploadForm.tsx
  web/src/components/VideoPlayer.tsx
  web/src/index.css
  web/src/types/index.ts
Labels: area:web, area:backend, scripts

feat: Implement AI dictionary with local caching and UI improvements
  python/lingoview_service/api.py
  python/lingoview_service/dictionary.py
  web/src/App.css
  web/src/App.tsx
  web/src/components/DictionaryPanel.tsx
  web/src/components/SubtitleList.tsx
  web/src/types/index.ts
Labels: area:web, area:backend

fix: Add missing openai dependency for dictionary feature
  python/pyproject.toml
Labels: area:backend, dependencies

fix: Correct pnpm setup order in CI workflow
  .github/workflows/ci.yml
Labels: ci
